body{
    background-color: darkslateblue;
}

/* #biljetter{
    display: flex;
    height: 90vh;
    justify-items: center;
} */

.biljettbox{
    background-color: rgb(121, 112, 179);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 65vw;
    max-height: 65vh;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1em;
}

.biljettbox > h2{
    font-family: "Orelega One";
    font-size: 30px;

}

.biljettbox > p{
    font-family: Exo;
    max-width: 25em;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.link{
    font-family: Exo;
    background-color: rgb(200, 179, 201);
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    max-width: 40vw;
}

.link > a:link{
    text-decoration: none;
    color: var(--accent-color);
}

.link > a:visited{
    text-decoration: none;
    color: var(--accent-color);
}

.link > a:hover{
    text-decoration: underline;
}

@media (min-width: 700px){
    .biljettbox{
        max-width: 50vw;
        max-height: 50vh;
    }
    .link{
        max-width: 30vw;
    }
}