body{
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}

:root{
    --bg-color: rgb(225, 188, 78);
    --complement-color: rgb(250, 255, 184);
    --accent-color: rgb(220, 52, 52);
    --contrast-color: rgb(43, 39, 39);
}

header{
    display: flex;
    position: sticky;
    background-color: var(--complement-color);
    top: 0;
    padding: 1em;
}

nav{
    position: absolute;
    right: 0;
}

.menu-icon{
    position: absolute;
    right: 0;
    margin-right: 1em;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked~.menu-navigation {
    transform: scale(1, 1);
}

.menu-navigation {
    flex-direction: column;
    margin-top: 2em;
    background-color: var(--complement-color);
    transform: scale(1, 0);
    transition: all 0.2s ease-in-out;
    transform-origin: top;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    list-style-type: none;
    }

.menu-navigation > li{
    font-family: "Exo";
}

.menu-navigation a {
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--accent-color);
    }

.menu-navigation > li > a:link{
    text-decoration: none;
}

.menu-navigation > li > a:visited{
    text-decoration: none;
}

.logo{
    font-family: "Orelega One";
    font-size: 22px;
    text-decoration: none;
    color: var(--contrast-color);
}

#tickets{
    display: flex;
    height: 90vh;
    align-items: center;
}

.ticketbox{
    background-color: var(--complement-color);
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin: auto;
    margin-top: 2em;
    border-radius: 2em;
    font-family: "Open Sans";
    font-size: 14px;
    padding: 0.5em;
}

.ticketbox > *{
    margin: 1em;
}

.ticketbox > p, .ticketbox > div > p{
    margin: 1em;
}

label{
    padding: 5px;
}

.biljettprompt{
    margin: 0.5em;
}

.ticket-types{
    display: flex;
}

.textstart{
    margin-top: 1em;
}
.textend{
    margin-bottom: 1em;
}

input[type=text]{
    min-width: 0;
    width: 95%;
    justify-content: flex-start;
}
input[type=email]{
    min-width: 0;
    width: 95%;
}

input[type=text]:user-invalid, input[type=email]:user-invalid{
    box-shadow: 1px 2px 6px 1px red;
}

input[type=radio]:user-invalid{
    box-shadow: 1px 1px 6px 1px red;
}

.food-choice-prompt{
    margin: 0.5em;
}

.food-choice{
    display: flex;
    flex-direction: column;
}

.allergy-question{
    grid-column: span 2;
}
.allergies{
    width: 95%;
    height: 5em;
}

textarea{
    font-family: Arial;
    font-size: 14px;
}

textarea::placeholder {
    font-family: Arial;
    font-size: 14px;
    color: #333;
}

.submit{
    background-color: rgb(200, 179, 201);
    border-radius: 0.5em;
    width: 5em;
    height: 2em;
    text-align: center;
    margin: auto;
    margin-bottom: 0.5em;
}

.submit > a:link{
    text-decoration: none;
    color: var(--accent-color);
}

.submit > a:visited{
    text-decoration: none;
    color: var(--accent-color);
}

.submit > a:hover{
    text-decoration: underline;
}

@media (min-width: 500px){
    .ticketbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    }
    .submit{
        grid-column: span 2;
        justify-self: center;    
    }
}


@media (min-width: 700px){

    .logo{
        font-size: 28px;
    }

    nav{
        position: absolute;
        right: 0;
    }
    
    .menu-icon{
        display: none;
    }

    .menu-navigation {
        display: flex;
        margin-top: 0;
        flex-direction: row;
        background-color: var(--complement-color);
        /* align-items: flex-end; */
        transform: scale(1, 1);
        box-shadow: none;
        }
    nav > ul{
        list-style: none;
    }

    .menu-navigation > li:hover{
            text-decoration-line: underline;
            text-decoration-color: var(--accent-color);
        }
}