* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

:root{
    --bg-color: rgb(249, 245, 221);
    --complement-color: rgb(250, 255, 184);
    --accent-color: rgb(220, 52, 52);
    --contrast-color: rgb(43, 39, 39);
}

body{
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    position: sticky;
    background-color: var(--complement-color);
    top: 0;
    left: 0;
    gap: 1em;
    padding: 1em;
}

.bakgrundsbildmobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://miro.medium.com/v2/resize:fit:1200/1*5akpxEAq4fjVmd5pDtqDig.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
}

.intro > .bakgrundsbildmobile > h1, .intro > .bakgrundsbildmobile > p{
    text-align: center;
    color: var(--complement-color);
}

#seminarier{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    align-items: center;
}
#seminarier > .blurb{
    background-color: whitesmoke;
    margin-bottom: 1em;
    width: 80vw;
    height: 30vh;
    border-radius: 1em;
    box-shadow: 2px 2px 2px 2px;
    text-align: center;
}

.datum{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    color: var(--accent-color);
}

footer{
    display: flex;
    padding: 1em;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--contrast-color);
    color: rgb(213, 213, 213);
    }
ul{
    list-style-type: none;
}
@media (min-width: 700px){
    #seminarier{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }

/* Har funderat på hur man ska göra för att ha 1/3 bildelement och 2/3 text i dessa individuella småblurbs.
Kanske ha själva strukturen uppsatt som grid, och sedan flex-element med en grow/shrink i varje blurb-box?*/

.blurb{
    background-color: white;
    width: 20em;
    height: 20em;
    gap: 1em;
    border-radius: 1em;
    box-shadow: 2px 2px 2px 2px;
}

.bild{
    grid-row: span 1;
}
.beskrivning{
    grid-row: span 2;
}
}