* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

:root{
    --bg-color: rgb(249, 245, 221);
    --complement-color: rgb(250, 255, 184);
    --accent-color: rgb(220, 52, 52);
    --contrast-color: rgb(43, 39, 39);
}

body{
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    position: sticky;
    background-color: var(--complement-color);
    top: 0;
    gap: 1em;
    padding: 1em;
    width: 100%;
}
.nav{
    width: 100%;
    height: 50%;
    position: fixed;
    overflow: hidden;
    background-color: var(--complement-color);
    max-height: 0;
    transition: max-height .5s ease-out;
}

.menu a{
    display: block;
    padding: 3em;
    color: var(--accent-color);
}

.menu a:hover{
    background-color: rgb(207, 164, 57);
}

.hamb{
    cursor: pointer;
    float: right;
}
.hamb-line{
    background: var(--contrast-color);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}
.hamb-line::before, .hamb-line::after{
    background: var(--contrast-color);
    content: '';
    display: block;
    position: absolute;
    transition: all .2s ease-out;
    height: 100%;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}

.side-menu{
    display: none;
}

.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line{
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.bakgrundsbildmobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://miro.medium.com/v2/resize:fit:1200/1*5akpxEAq4fjVmd5pDtqDig.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
}

.intro > .bakgrundsbildmobile > h1, .intro > .bakgrundsbildmobile > p{
    text-align: center;
    color: whitesmoke;
}

.intro > .bakgrundsbildmobile > h1{
    font-family: "Orelega One";
    font-size: 36px;
}

.intro > .bakgrundsbildmobile > p{
    font-family: "Urbanist";
    font-size: 24px;
}

.seminarier1, .seminarier2, .seminarier3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seminarier1 > .blurb, .seminarier2 > .blurb, .seminarier3 > .blurb{
    background-color: whitesmoke;
    font-family: Urbanist;
    margin: 10px;
    min-width: 200px;
    width: 100vw;
    height: 35vh;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow: 2px 2px 2px;
    text-align: center;
}

.blurbcontent img{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 100%;
    max-height: 20vh;
    object-fit: cover;
    object-position: 0 40%;
}

.blurb .blurbcontent img.cloudbild{
    object-position: 0 80%;
}

.datum{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    color: var(--contrast-color);
    font-family: "Exo";
}

footer{
    display: flex;
    padding: 1em;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--contrast-color);
    color: rgb(213, 213, 213);
    }
ul{
    list-style-type: none;
}
@media (min-width: 700px){
    .seminarier1 > .blurb, .seminarier2 > .blurb, .seminarier3 > .blurb{
        margin: 10px;
        min-width: 300px;
        width: 30vw;
        height: 35vh;
    }

/* Har funderat på hur man ska göra för att ha 1/3 bildelement och 2/3 text i dessa individuella småblurbs.
Kanske ha själva strukturen uppsatt som grid, och sedan flex-element med en grow/shrink i varje blurb-box?*/

.blurb{
    background-color: white;
    width: 20em;
    height: 20em;
    gap: 1em;
    border-radius: 1em;
    box-shadow: 2px 2px 2px 2px;
}
}