body{
    background-color: darkslateblue;
}

.biljettbox{
    background-color: rgb(121, 112, 179);
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex;
    flex-direction: column;*/
    max-width: 70vw;
    max-height: 70vh;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 2em;
    font-family: "Open Sans";
    font-size: 14px;
}
label{
    padding: 5px;
}

.biljettprompt{
    margin: 0.5em;
}

.dagsbiljetter{
    display: flex;
    flex-direction: column;
}

input[type=text]{
    min-width: 0;
    width: 100%;
}

.matval{
    display: flex;
    flex-direction: column;
}

.allergifråga{
    grid-column: span 2;
}
.allergier{
    width: 10em;
    height: 5em;
}